.banner {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../images/bg-masthead.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    padding-top: 90px;
    &__title {
        color: #fff;
        font-weight: 700;
        font-size: 56px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }
    &__button {
        &:hover {
            color: #fff;
            background-color: #f24516;
            border-color: #ee3e0d;
        }
    }
}
hr.divider {
    height: 3px;
    background: #f4623a;
    border: #f4623a;
    max-width: 3.25rem;
    margin: auto;
    margin-bottom: 24px;
}
.text-page {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 48px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
}
.button-group {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    border-color: #ee3e0d;
    color: #fff;
    background-color: #f4623a;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}