.contact{
	background: #fff;
	&__title{
		color: #000;
	}
	&__text{
		color: #6c757d !important;
	}
	&__content{
		text-align: center;
	}
	&__item{
		text-align: center;
		&-icon{
			font-size: 48px; 
			color: #6c757d ;
			margin-bottom: 16px;
		}
		&-mail{
			a{
				color: #f4623a;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.text-coppyright{
	text-align: center;
	font-size: 12px;
	color: #6c757d ;
	padding-bottom: 48px;
}