.about {
    background: #f4623a;
    &__button {
        color: #000;
        background: #fff;
        display: inline-block;
        &:hover {
            color: #212529;
            background-color: #e2e6ea;
            border-color: #dae0e5;
        }
    }
    .divider {
        background: #fff;
    }
}
.page-padding .text-page {
    font-size: 15.5px;
    width: 100%;
}