.portfolio {
    padding: 0;
    &__item {
        position: relative;
        &-image {
            width: 100%;
            display: block;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: #f4623a;
            opacity: 0;
            flex-direction: column;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }
        &-title {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.5);
            text-transform: uppercase;
        }
        &-project {
            font-size: 20px;
            color: #fff;
            line-height: 28px;
            font-weight: 400;
        }
        &:hover .overlay {
            opacity: 0.9;
        }
    }
}